body, button, input, optgroup, select, textarea {
	font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
			color: #D10F68;
	  text-decoration: none;
	  -webkit-transition: .2s;
	}

	a:hover {
		color: #AA336A;
	}

h1 {
	font-size: 3em;
	margin: 0;
	color: #E30B5C;
	padding: 0;
	display: inline-block;
}

h2 {
	margin-top: 0;
  font-size: 1.2em;
	color: #aaa;
}

h3 {
	color: #E0115F;
}

h4 {
	font-size: 1em;
}

div {
	margin: 1% auto;
}

section {
	color: #444;
}

em {
	color: #888;
}

.main {
	background-color:rgba(255,255,255,.9);
	padding: 5%;
	border-radius:1em;
    box-shadow:0 0 .25em rgba(0,0,0,.1);
  	border: solid 1px #eee;
}

.container {
	margin: 5% auto;
	width: 60%;
}

.subsection {
	margin-left: 20px;
}

h3 i {
	margin-right: 10px;
}

i {
	margin-right: 5px;
}
footer {
	margin-top: 5%;
	color: #ccc;
	text-align: center;
	font-size: 0.8em;
}

.tooltip {
	  position: relative;
	  display: inline-block;
		margin-left: 5px;
	  color: #720E30;
	}

	.tooltip .tooltiptext {
	  visibility: hidden;
	  background-color: #AA336A	;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 2px;
	  text-transform: lowercase;
	  font-weight: 400;
	  letter-spacing: 0;
	  position: absolute;
	  z-index: 1;
		font-size: 0.8em;
		width: 220px;
	}

	.tooltip:hover .tooltiptext {
	  visibility: visible;
	}

.small {
	font-size: 0.9em;
	color: #720E30;
}
